.studentContainer{
    
    padding: 20px;
    .selectContainer{
        display: flex;
        gap: 20px;
        .dropdown{
            width: 20%;
        }

        .buttongroup{
            align-items: end;
            display: flex;
            
            gap: 1vw;
           
        }
        
    }
}